# Should players be given the Rebar guide book when they first join?
rebar-guide-on-first-join: true

# The default interval (in Minecraft ticks) between each block tick
# Most blocks have a custom tick interval which can be changed in their settings
default-tick-interval: 20

# The number of errors a block can throw before it is disabled
allowed-block-errors: 5

# The number of errors a entity can throw before it is disabled
allowed-entity-errors: 5

# The interval (in Minecraft ticks) between fluid network ticks
fluid-tick-interval: 5

# The interval (in Minecraft ticks) between cargo ticks
cargo-tick-interval: 20

# The global multiplier for the number of items transferred per cargo tick (must be a whole number)
cargo-transfer-rate-multiplier: 1

block-data-autosave-interval-seconds: 60

entity-data-autosave-interval-seconds: 60

# The lowest tick interval at which Rebar inventory ticker items may tick
inventory-ticker-base-rate: 10

waila:
  # The interval (in Minecraft ticks), between WAILA checks
  # Set to 0 to disable WAILA globally
  tick-interval: 1

  # The WAILA display types players can choose between
  enabled-types:
    - actionbar
    - bossbar

  # The default display type for players, if you allow multiple types, they can change between them in the guide settings
  # Note: If you default to actionbar, or enforce it, and have a long tick-interval, the WAILA may not be visible all the time
  # as actionbar messages fade after a few seconds
  default-type: bossbar

  # The default bossbar display options if the block doesn't specify one
  # There are no defaults for actionbar, as it has no options
  default-display:
    bossbar:
      text: ""
      color: white
      overlay: progress
      progress: 1.0

  # Here you can control what bossbar colors & overlays can be used within the WAILA
  # Some servers modify the textures for both in resource packs, so they may want to
  # prevent them being used by the WAILA.
  # If any colors/overlays not in these lists are used, they will default to the values in default-display
  bossbar:
    allowed-colors: [ pink, blue, red, green, yellow, purple, white ]
    allowed-overlays: [ progress, notched_6, notched_10, notched_12, notched_20 ]

research:
  enabled: true
  # The interval (in Minecraft ticks) between when Rebar checks for unresearched items in inventories
  tick-interval: 20
  # Formula
  # calculated = base-amount * researchCost * multiplier
  # spawnedConfetti = max(calculated, max-amount)
  confetti:
    base-amount: 70.0
    multiplier: 0.2
    max-amount: 700 # must be an integer
  # The sounds played when a player unlocks a research
  # The keys are the tick at which the sound is played, relative to after when the research is unlocked
  sounds:
    2:
      sound: minecraft:entity.firework_rocket.blast
      source: player
      volume: 1.5
      pitch: 1
    4:
      sound: minecraft:entity.firework_rocket.blast
      source: player
      volume: 1.5
      pitch: 1
    6:
      sound: minecraft:entity.player.levelup
      source: player
      volume: 1.5
      pitch: 0.9
    9:
      sound: minecraft:entity.firework_rocket.launch
      source: player
      volume: 1.5
      pitch: 1
    12:
      sound: minecraft:entity.player.levelup
      source: player
      volume: 1.5
      pitch: 0.9
    18:
      sound: minecraft:entity.firework_rocket.launch
      source: player
      volume: 1.5
      pitch: 1

pipe-placement:
  # The interval (in Minecraft ticks) between pipe placement task ticks
  tick-interval: 1

  # Recommended to keep this low to make pipe placement easier
  # Might break pipe placement if set very high due to chunkloading mechanics
  max-length: 5

  # If the player goes beyond this distance from the pipe placement's origin, the pipe
  # placement will be cancelled
  cancel-distance: 32

# How many characters a line can be before it is split into a new line when translating
translation-wrap-limit: 64

# The interval (in Minecraft ticks) between metrics data being saved
metrics-save-interval-ticks: 6000

# Keys of the items you want to disable. You can get an item's key with /rebar key
#
# Disabling an item will remove it from the guide, stop players from being able to craft it,
# and prevent players from using it in any way. Any disabled items that already exist ingame
# will become functional again when the item is removed from the disabled-items list.
#
# Be aware that disabling an item that's used as an ingredient for other items will mean that
# those items can't be crafted.
disabled-items: []

guide:
  # Should there be a button linking to the official rebar/pylon discord server in the info section of the guide?
  discord-button: true

custom-armor-textures:
  # Should Rebar support modifying the equipment component of armor items to use custom armor textures?
  # If a player has no resource pack that adds textures installed, and has armor textures enabled the armor will appear invisible.
  # By default, armor textures are disabled for players, but they can enable it themselves in the guide settings.
  enabled: true

  # If true, players will not be able to disable custom armor textures and it will default to enabled
  force: false

custom-block-textures:
  # Should Rebar send packet based item displays to the client for custom block textures?
  # These item displays have custom model data allowing a resource pack to give them custom models/textures.
  # If a player has no resource pack that adds textures installed, the entities will appear invisible.
  # Players can also disable this on a per-player basis in the guide settings.
  # By default, all rebar blocks will have one entity, however some blocks utilize display entities or other forms
  # of custom visuals and will not have a block texture entity.
  # If this is enabled you must also have the block culling engine enabled as it's used to send the packets to the client. (see the entity culling engine section below)
  enabled: true

  # If true, players will not be able to disable custom block textures themselves
  force: false

  # If not forced, should custom block textures be enabled by default for players?
  # Remember that if a player has no resource pack that adds textures installed, even with this enabled
  # the entities will appear invisible (no visual change).
  default: true

block-culling-engine:
  # Should rebar enable its async ray trace culling engine to allow blocks to change based on if a player can see them or not.
  # A common way this is used is to hide/show entities that a block uses for its visuals to improve client fps.
  # This only applies to rebar blocks that explicitly support it (for example: cargo blocks from pylon)
  # or custom block textures (more on that in the section below this one)
  enabled: true

  # Culling caches if a block is occluding the first time its checked, to avoid reading the world every time.
  # When players break/place blocks, or blocks are destroyed or exploded, the cache will automatically update,
  # but other changes to the world will not be respected until the cache is refreshed.
  # This setting controls how often (in Minecraft ticks) the cache is invalidated. (and therefore forced to refresh)
  occluding-cache-invalidate-interval: 6000

  # The proportion of the occluding cache to invalidate every occluding-cache-invalidate-interval
  # By default, half of the cache is invalidated every interval, meaning the entire cache is invalidated every 2 intervals,
  # or every 10 minutes by default.
  occluding-cache-invalidate-share: 0.5

  # If the culling engine needs to apply synchronously (for ex: hiding/showing REAL entities to the player)
  # the application is scheduled to be applied next time this task runs. (all the ray tracing and logic is still done async)
  # This setting controls how often (in Minecraft ticks) the task runs to apply any pending synchronous applications.
  sync-apply-interval: 10

  # How often (in Minecraft ticks) to send all block texture entities within range of the client when a player has culling disabled
  # Block texture entities are packet based entities so we have to manually control their visibility
  # which is why "disabled" is not truly disabled, it just skips raytracing, but we still have to update the client on what should be visible to them.
  disabled-update-interval: 10

  # The culling system works off of a number of settings that control the performance and visual quality of the culling.
  # By default, there are a series of presets that players can choose between, but they can also tweak the settings themselves.
  # If you want to enforce only using presets, and prevent players from tweaking the settings themselves, set this to true
  presets-only: false

  # If you want to force all players to use one singular preset, enable presets-only and set to the id of preset you want to force
  # If you want to force culling to be "disabled" for all players set this to "disabled" (but still sending block texture entities if enabled)
  # If you do not want to force anything, set this to "none" or disable presets-only
  forced: "none"

  # If you want players culling settings to default to a specific preset, set this to the id of the preset
  # If you want it to default to "disabled" set this to "disabled", but still sending block texture entities if enabled
  default: "medium"

  # The culling presets that players can choose between, or that you can enforce players to use.
  # You can change the values for each preset, or add/remove presets (EXCLUDING THE DISABLED PRESET) as you like.
  # However, it is not recommended to change these options unless you know what you are doing.
  # **THERE ALWAYS MUST BE AT LEAST ONE PRESET**
  presets:
    # The least aggressive culling preset for the highest visual quality while still utilizing culling
    low:
      # Used to order the presets in the gui, lower -> higher
      index: 1
      # Should match the key used to identify this preset
      id: "low"
      # What material is shown in the guide for this preset
      material: "minecraft:green_concrete"

      # How often (in Minecraft ticks) to run all culling logic & check for entities to show/hide
      # This acts as a delay between every time the culling engine runs for the player
      # The higher this number is the higher the options below effectively are.
      # Most of the time you can leave this at 1
      update-interval: 1
      # How often (every X updates) to perform the ray tracing cull on hidden entities
      # The lower this is the faster entities will become visible after being hidden but the more often it has to check if it should remain hidden
      hidden-interval: 1
      # How often (every Z updates) to perform the ray tracing cull on visible entities
      # The lower this is the faster entities should be hidden after becoming obstructed but the more often it has to check if it should remain visible
      # It is recommended to keep this a higher value always as the performance impact to clients is negligible, but it significantly reduces the amount of raytracing done on visible entities
      visible-interval: 10

      # The radius around the player to always send entities for
      always-show-radius: 48
      # The radius around the player to check for entities to cull, anything outside this radius automatically hidden
      cull-radius: 128

      # The maximum number of occluding blocks between the players eye and an entity before it is culled
      max-occluding-count: 5

    # A balance between performance and visual quality
    medium:
      index: 2
      id: "medium"
      material: "minecraft:yellow_concrete"

      update-interval: 1
      hidden-interval: 2
      visible-interval: 20

      always-show-radius: 16
      cull-radius: 64

      max-occluding-count: 3

    # The most aggressive culling preset for the best performance but lowest visual quality
    high:
      index: 3
      id: "high"
      material: "minecraft:red_concrete"

      update-interval: 1
      hidden-interval: 3
      visible-interval: 40

      always-show-radius: 8
      cull-radius: 64

      max-occluding-count: 2

  # If presets-only is false, players can tweak the settings themselves, below you can restrict how low/high they can
  # set them. Keep in mind the presets defined above must also follow these limits as well.
  limits:
    update-interval:
      min: 1
      max: 20
    hidden-interval:
      min: 1
      max: 20
    visible-interval:
      min: 10
      max: 100
    always-show-radius:
      min: 0
      max: 64
    cull-radius:
      min: 16
      max: 256
    max-occluding-count:
      min: 1
      max: 10