# Should players be given the Rebar guide book when they first join?
rebar-guide-on-first-join: true

# The default interval (in Minecraft ticks) between each block tick
# Most blocks have a custom tick interval which can be changed in their settings
default-tick-interval: 20

# The number of errors a block can throw before it is disabled
allowed-block-errors: 5

# The number of errors a entity can throw before it is disabled
allowed-entity-errors: 5

# The interval (in Minecraft ticks) between fluid network ticks
fluid-tick-interval: 5

# The interval (in Minecraft ticks) between cargo ticks
cargo-tick-interval: 20

# The global multiplier for the number of items transferred per cargo tick (must be a whole number)
cargo-transfer-rate-multiplier: 1

block-data-autosave-interval-seconds: 60

entity-data-autosave-interval-seconds: 60

# The lowest tick interval at which Rebar inventory ticker items may tick
inventory-ticker-base-rate: 10

waila:
  # The interval (in Minecraft ticks), between WAILA checks
  # Set to 0 to disable WAILA globally
  tick-interval: 1

  # The WAILA display types players can choose between
  enabled-types:
    - actionbar
    - bossbar

  # The default display type for players, if you allow multiple types, they can change between them in the guide settings
  # Note: If you default to actionbar, or enforce it, and have a long tick-interval, the WAILA may not be visible all the time
  # as actionbar messages fade after a few seconds
  default-type: bossbar

  # The default bossbar display options if the block doesn't specify one
  # There are no defaults for actionbar, as it has no options
  default-display:
    bossbar:
      text: ""
      color: white
      overlay: progress
      progress: 1.0

  # Here you can control what bossbar colors & overlays can be used within the WAILA
  # Some servers modify the textures for both in resource packs, so they may want to
  # prevent them being used by the WAILA.
  # If any colors/overlays not in these lists are used, they will default to the values in default-display
  bossbar:
    allowed-colors: [ pink, blue, red, green, yellow, purple, white ]
    allowed-overlays: [ progress, notched_6, notched_10, notched_12, notched_20 ]

research:
  enabled: true
  # The interval (in Minecraft ticks) between when Rebar checks for unresearched items in inventories
  tick-interval: 20
  # Formula
  # calculated = base-amount * researchCost * multiplier
  # spawnedConfetti = max(calculated, max-amount)
  confetti:
    base-amount: 70.0
    multiplier: 0.2
    max-amount: 700 # must be an integer
  # The sounds played when a player unlocks a research
  # The keys are the tick at which the sound is played, relative to after when the research is unlocked
  sounds:
    2:
      sound: minecraft:entity.firework_rocket.blast
      source: player
      volume: 1.5
      pitch: 1
    4:
      sound: minecraft:entity.firework_rocket.blast
      source: player
      volume: 1.5
      pitch: 1
    6:
      sound: minecraft:entity.player.levelup
      source: player
      volume: 1.5
      pitch: 0.9
    9:
      sound: minecraft:entity.firework_rocket.launch
      source: player
      volume: 1.5
      pitch: 1
    12:
      sound: minecraft:entity.player.levelup
      source: player
      volume: 1.5
      pitch: 0.9
    18:
      sound: minecraft:entity.firework_rocket.launch
      source: player
      volume: 1.5
      pitch: 1

pipe-placement:
  # The interval (in Minecraft ticks) between pipe placement task ticks
  tick-interval: 1

  # Recommended to keep this low to make pipe placement easier
  # Might break pipe placement if set very high due to chunkloading mechanics
  max-length: 5

  # If the player goes beyond this distance from the pipe placement's origin, the pipe
  # placement will be cancelled
  cancel-distance: 32

# How many characters a line can be before it is split into a new line when translating
translation-wrap-limit: 64

# The interval (in Minecraft ticks) between metrics data being saved
metrics-save-interval-ticks: 6000

# Keys of the items you want to disable. You can get an item's key with /rebar key
#
# Disabling an item will remove it from the guide, stop players from being able to craft it,
# and prevent players from using it in any way. Any disabled items that already exist ingame
# will become functional again when the item is removed from the disabled-items list.
#
# Be aware that disabling an item that's used as an ingredient for other items will mean that
# those items can't be crafted.
disabled-items: []

custom-armor-textures:
  # Should Rebar support modifying the equipment component of armor items to use custom armor textures?
  # If a player has no resource pack that adds textures installed, and has armor textures enabled the armor will appear invisible.
  # By default, armor textures are disabled for players, but they can enable it themselves in the guide settings.
  enabled: true

  # If true, players will not be able to disable custom armor textures and it will default to enabled
  force: false

custom-block-textures:
  # Should Rebar send item displays to the client for custom block textures?
  # If a player has no resource pack that adds textures installed, the entities will appear invisible.
  # Players can also disable this on a per-player basis, and can configure with culling preset they want.
  enabled: true

  # If true, players will not be able to disable custom block textures themselves
  force: false

  # If not forced, should custom block textures be enabled by default for players?
  # Remember that if a player has no resource pack that adds textures installed, even with this enabled
  # the entities will appear invisible (no visual change).
  default: true

  # Custom Block Textures uses ray tracing to cull entities not visible to the player.
  # There are 4 default presets to choose from, each with different client performance and visual quality tradeoffs.
  # It is not recommended to change these settings (excluding default-preset) unless you know what you're doing
  culling:
    # Culling caches if a block is occluding the first time its checked, to avoid reading the world every time.
    # When players break/place blocks, the cache will automatically update, but other changes to the world
    # will not be respected until the cache is refreshed. This setting controls how often (in Minecraft ticks) the cache is refreshed.
    occluding-cache-refresh-interval: 3600
    # The proportion of the occluding cache to refresh every occluding-cache-refresh-interval
    # By default, half of the cache is refreshed every interval, meaning the entire cache is refreshed every 2 intervals, or every 6 minutes
    occluding-cache-refresh-share: 0.5

    # players can choose a preset themselves, but this is the default one they will get if they haven't chosen one
    default-preset: "medium"

    presets:
      # No culling, all entities are sent to the client, do NOT remove this preset
      disabled:
        index: 0
        id: "disabled"
        material: "minecraft:gray_concrete"
        update-interval: 10

      low:
        index: 1
        id: "low"
        material: "minecraft:green_concrete"

        update-interval: 1
        hidden-interval: 1
        visible-interval: 10

        always-show-radius: 48
        cull-radius: 128

        max-occluding-count: 5

      # A balance between performance and visual quality
      medium:
        # Used to order the presets in the gui, lower -> higher
        index: 2
        # Should match the key used to identify this preset
        id: "medium"
        # What material is shown in the guide for this preset
        material: "minecraft:yellow_concrete"

        # How often (in Minecraft ticks) to run the custom block texture logic & check for entities to show/hide
        update-interval: 1
        # How often (in Minecraft ticks) to perform the ray tracing cull on hidden entities
        hidden-interval: 1
        # How often (in Minecraft ticks) to perform the ray tracing cull on visible entities
        visible-interval: 20

        # The radius around the player to always send entities for
        always-show-radius: 16
        # The radius around the player to check for entities to cull, anything outside this radius automatically hidden
        cull-radius: 64

        # The maximum number of occluding blocks between the players eye and an entity before it is culled
        max-occluding-count: 3

      high:
        index: 3
        id: "high"
        material: "minecraft:red_concrete"

        update-interval: 1
        hidden-interval: 1
        visible-interval: 40

        always-show-radius: 8
        cull-radius: 64

        max-occluding-count: 2